.panel.panel-default
  /! Yandex.RTB R-A-494123-1
  #yandex_rtb_R-A-494123-1
  javascript:
      (function (w, n) {
          w[n] = w[n] || [];
          w[n].push(function () {
              Ya.Context.AdvManager.render({
                  blockId: "R-A-494123-1",
                  renderTo: "yandex_rtb_R-A-494123-1",
                  async: false
              });
          });
          document.write('<sc' + 'ript type="text/javascript" src="//an.yandex.ru/system/context.js"></sc' + 'ript>');
      })(this, "yandexContextSyncCallbacks");