- ad_here
.panel.panel-default
  div.text-center[id="687485306"]
    javascript:
      try {
        window._mNHandle.queue.push(function (){
                  window._mNDetails.loadTag("687485306", "300x250", "687485306");
        });
      }
      catch (error) {}