- ad_here
.panel.panel-default
  .text-center[id="783721706"]
    javascript:
      try {
        window._mNHandle.queue.push(function (){
                  window._mNDetails.loadTag("783721706", "160x600", "783721706");
        });
      }
      catch (error) {}