.panel.panel-default
  div.text-center[id="792583575"]
    javascript:
      try {
        window._mNHandle.queue.push(function (){
                  window._mNDetails.loadTag("792583575", "300x250", "792583575");
        });
      }
      catch (error) {}