.row.well
  //script[async src="//ap.lijit.com/www/delivery/fpi.js?z=670768&width=728&height=90"]
  div[id="856146263"]
    javascript:
      try {
        window._mNHandle.queue.push(function (){
            window._mNDetails.loadTag("856146263", "728x90", "856146263");
        });
      }
      catch (error) {}