- ad_here
.row
  //script[async src="//ap.lijit.com/www/delivery/fpi.js?z=670768&width=728&height=90"]
  .col-xs-12[id="261542341"]
    javascript:
        try {
            window._mNHandle.queue.push(function (){
                window._mNDetails.loadTag("261542341", "300x50", "261542341");
            });
        }
        catch (error) {}