- ad_here
.row.well
  div[id="283631115"]
    javascript:
        try {
            window._mNHandle.queue.push(function (){
                window._mNDetails.loadTag("283631115", "728x90", "283631115");
            });
        }
        catch (error) {}