div[style=title_email]
  div[style=h1_email]
    |Your job opportunity was successfully posted on Jobs Galore!
div[style=body_email]
  |You have successfully posted your job opportunity #{link_to @job.title, job_url(@job.id) + "?"+@utm, target: "_blank"} on Jobs Galore.
  div[style=button_email]
    = link_to 'Show', job_url(@job.id) + "?"+@utm, style: link_email, target: "_blank"
  =space_email
  =space_email
  strong
    |You can promote your job opportunity:
  =space_email true
  =space_email
  =render 'jobs_mailer/party_of_email/highlight'
  =space_email
  =space_email true
  =space_email
  =render 'jobs_mailer/party_of_email/urgent'

