div[style=title_email]
  div[style=h1_email]
    |Your job opportunity was successfully posted on Jobs Galore!
div[style=body_email]
  |You have successfully posted your job opportunity on Jobs Galore.
  |Link to Job #{link_to @job[:title], job_url(@job[:id]) + "?"+@utm, target: "_blank" }
  =space_email
  =space_email
  div[style=h3_email]
    |You can promote your job opportunity:
  =space_email
  strong
    |Highlight $5 (7 day)
  =space_email
  |A highlighted job opportunity stand out from the other ads on the search and browse results due to the orange background colour.
  |A highlighted job opportunity have greater visibility and therefore receive more visits and replies than other Ads.
  div[style=button_email]
    = link_to 'Activate', bill_url(bill: {id: @job[:id], type:2, option: 3}) + "&"+@utm , style: link_email, target: "_blank"
  =space_email
  hr
  =space_email
  strong
    |Urgent $10 (7 day)
  =space_email
  |In a hurry? Add an Urgent tag to your job opportunity. It's a great way to attract serious offers quickly.
  div[style=button_email]
    = link_to 'Activate', bill_url(bill: {id: @job[:id], type:2, option: 1}) + "&" + @utm, style: link_email, target: "_blank"

