div[style=title_email]
  div[style=h1_email]
    |Изменения за день
div[style=body_email]
  div[style=h3_email]
    |Новые резюме за день!
  =@arg[:new_resumes]
  =space_email
  div[style=h3_email]
    |Новые ваканнсии
  =@arg[:new_jobs]
  =space_email
  div[style=h3_email]
    |Новые клиенты
  =@arg[:new_client]
  = space_email
  div[style=h3_email]
    |Заполенные компании
  =@arg[:new_company]
  = space_email
  div[style=h3_email]
    |Новые транзакции
  |#{@arg[:new_pay_count]} || #{@arg[:new_pay_sum]}
  = space_email
  div[style=h3_email]
    |Новые просмотры
  = @arg[:new_viewed]

