h1 Изменения за день
h3 Новые резюме за день!
p =@arg[:new_resumes]
hr
h3 Новые ваканнсии
p =@arg[:new_jobs]
hr
h3 Новые клиенты
p =@arg[:new_client]
hr
h3 Заполенные компании
p =@arg[:new_company]
hr
h3 Новые транзакции
p =@arg[:new_pay_count] || =@arg[:new_pay_summ]
hr
h3 Новые просмотры
p = @arg[:new_viewed]

