<h1> Hello, there! </h1>
<p>We would like to present you the website for placement of vacancies and recruitment <%= link_to PropertsHelper::COMPANY, root_url %> </p>

<p>You can post vacancies free of charge by our website. They will be available for viewing 24 hours a day, 7 days a week. A unique mechanism of semantic search will help the applicant find a suitable job for him, and you will find a talented specialist.</p>

<p>To join us, you just need to register. It takes less than a minute. After registration, you will be able to use all available functionality.</p>

<p>To register, click on the link below:</p>
<p><%= link_to PropertsHelper::COMPANY, root_url %></p>

Please do not hesitate to contact us with any questions.
<br>
Kind Regards,
<br>
The Team at <%= PropertsHelper::COMPANY %>.
<div>
  <span>
    <%=image_tag(image_path("method-draw-image.png"), size: "200x100",alt: "")%>
  </span>
</div>