- meta_head(  title:"#{@by_category[:obj][:name]} by Category",
        description: "#{@by_category[:obj][:name]} by Category",
        keywords: "#{@by_category[:obj][:name]} by Category")
.container
  =by_category(category:@by_category[:category], name:@by_category[:obj][:name],code:@by_category[:obj][:code])