div[style=title_email]
  div[style=h1_email]
    |Your resume was successfully posted on Jobs Galore!
div[style=body_email]
  strong
    |Dear #{@resume[:firstname]}
  =space_email
  |You have successfully posted your resume #{link_to @resume[:title], resume_url(@resume[:id]) + "?"+@utm} on Jobs Galore.
  div[style=button_email]
    = link_to 'Show', resume_url(@resume[:id]) + "?" + @utm, style: link_email, target: "_blank"
  =space_email
  =space_email
  div[style=h3_email]
    |You can promote your resume:
  =space_email
  =render 'resumes_mailer/party_of_email/highlight'
  hr
  =space_email
  =render 'resumes_mailer/party_of_email/urgent'


