<h1>Your resume was successfully posted on Jobs Galore!</h1>

<h3>Dear <%=@resume[:firstname]%>, </h3>
<p>You've successfully posted your resume on Jobs Galore.</p>
<p>Link to resume <%=link_to @resume[:title], resume_url(@resume[:id])%></p>
<hr />
<h3>You can take extras:</h3>
<p><strong>Highlight $5 (7 day)</strong>
<br>
Highlighted resumes stand out from the other ads on the search and browse results due to the orange background colour.
  Highlighted resumes have greater visibility and therefore receive more visits and replies than other Ads.</p>
<%= link_to "Activate", bill_url(bill: {id: @resume[:id], type:3, option: 3}) %>
<hr />
<p><strong>Urgent $10 (7 day)</strong>
<br>
In a hurry? Add an Urgent tag to your resumes. It's a great way to attract serious offers quickly.</p>
<%= link_to "Activate", bill_url(bill: {id: @resume[:id], type:3, option: 1}) %>

