footer
  .well
    .container
      .row
        .col-lg-6.col-md-6.col-sm-12
          ul.nav.nav-justified
            li
              =link_to "About us", about_path
            li
              = link_to "Contact us", contact_path
            li
              = link_to "Terms and Conditions", terms_and_conditions_path
            li
              = link_to "Privacy policy", privacy_path
        .col-lg-6.col-md-6.col-sm-12
          .text-center.hidden-xs
              .col-sm-3
              .col-sm-1
                |Share:
              .col-sm-8.text-left
                = social_share_button_tag PropertsHelper::TITLE
          ul.nav.nav-justified.hidden-sm.hidden-md.hidden-lg
            li.text-center
              |Share:
            li
              =social_share_button_tag PropertsHelper::TITLE
      .row
        .text-center
          ="© #{PropertsHelper::COMPANY} All rights reserved."