- if object.class == JobDecorator && object.can_prolong?
  div[class = "#{(option[:cl] == 'dropdown' ? 'btn_margin' : 'btn-group')}"]
    a.btn.btn-info.btn-block[href= prolong_path(object) rel="nofollow"]
      |Prolong