/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported before bootstrap itself.

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fileinput";
@import "social-share-button";
@import 'bootstrap-datepicker';
@import "bootstrap-select";
@import "bootstrap-markdown";
@import "jasny-bootstrap";
@import "print";

.affix {
  top: 0;
  width: 100%;
}

.affix + .container{
  padding-top: 75px;
}

.bloc_white {
  height: 0px;
  display: inline;
}
.affix_white {
  height: 130px;
  display: inline;
}


.black_text {
  float: right;
  text-align: right;
  font-weight:700;
  color: black;
  text-shadow:  0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);

}

.white_text {
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: middle;
  font-weight:700;
  font-size: 24px;
  color: white;
  background-color: #d80000;
  border-radius: 40px;
  box-shadow:  0 1px 0 #fcc,
                0 2px 0 #f9c9c9,
                0 3px 0 #bbb,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


.glyphicon-small {
  font-size: 12px;
}

$size: 32px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.header{
  background-image: image-url('jobsA.jpg');
  display: inline-block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
  height: 350px;  /* Высота шапки */
}
.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}


.clear_menu{
  height: 51px;
  margin-bottom: 20px
}
.clear_menu-sm{
  height: 150px;
  margin-bottom: 20px
}

li.elem_header{
  margin-top: 14px;
}

.panel-body.highlight{
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
.panel-body.urgent{
  background-image: image-url("urgent.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.well.highlight{
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
.well.urgent{
  background-image: image-url("urgent.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.logo {
  background-image: image-url("method-draw-image.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width:200px;
  height:100px;
}
.logo_min {
  background-image: image-url("method-draw-image.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width:100px;
  height:50px;
}
@media screen {
  .print_header {
    display: none;
  }
}