.navbar-top{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1071;
}

.navbar-botton{
  position: relative;
  vertical-align: middle;
  z-index: 1071;
}

/* цвет фона и рамки навигационного меню */
.navbar-blue {
  background-color: #337ab7;
  border-color: #2e6da4;
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-blue .navbar-brand {
  color: #ecf0f1;
}

.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #ff2846;
}


/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-blue .navbar-nav> li > a:hover,
.navbar-blue .navbar-nav > li > a:hover {
  background-color: #b73328;
  border-color: #2e6da4;
}

/* Цвет пунктов навигационного меню */
.navbar-blue .navbar-nav > li {
  border-color:  #ffffff;
}

/* Цвет пунктов навигационного меню */
.navbar-blue .navbar-nav > li > a {
  color:  #ffffff;
}

.navbar-blue .navbar-nav > .text-center {
  color:  #ffffff;
}

.navbar-blue .navbar-nav > li:hover,
.navbar-blue .navbar-nav > li:focus {
  color: #7b2eff;
  background-color: #b7482a;
}

.link {
  color: #ffffff;
}
  /* CSS стили для мобильных устройств */
  /* Цвет рамки у кнопки, которая открывает меню */
  .navbar-blue .navbar-toggle {
    border-color: #ffffff;
  }
  /* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
  .navbar-blue .navbar-toggle:hover,
  .navbar-blue .navbar-toggle:focus {
    background-color:  #2e6da4;
  }
  /* Цвет полосочек в кнопочке, которая открывает меню */
  .navbar-blue .navbar-toggle .icon-bar {
    background-color:  #ffffff;
  }
  /* Цвет пунктов меню в раскрывающихся списках */
