.btn-circle {
  border-radius: 22px;
  text-align: center;
  padding-top: 7px;
  padding-left: 0;
  padding-right: 0;
  margin: 5px 5px 5px 0px;
  font-size: 18px;
}

.sticky {
  position: sticky;
  bottom: 10px;
  min-height: 2em;
}


.btn-linkedin {
  color: #fff;
  background-color: #00a0dc;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google{
  color: #fff;
  background-color: #db4e3f;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook{
  color: #fff;
  background-color: #4267b2;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}