<H1>Welcome <%="#{@resource.firstname} #{@resource.lastname}"%>!</H1>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

Please do not hesitate to contact us with any questions.
<br>
Kind Regards,
<br>
The Team at <%= PropertsHelper::COMPANY %>.
<div>
  <span>
    <%=image_tag(image_path("method-draw-image.png"), size: "100x100")%>
  </span>
</div>