<p>Hello <%="#{@resource.firstname} #{@resource.lastname}"%>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>


Please do not hesitate to contact us with any questions.
<br>
Kind Regards,
<br>
The Team at <%= PropertsHelper::COMPANY %>.
<br>
<div>
  <span>
    <%=image_tag(image_path("method-draw-image.svg"), size: "100x100")%>
  </span>
  <span style="font-weight:700; color: black; text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25),         0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);" >
    .EU
  </span>
</div>