<h1>Hello <%="#{@resource.firstname} #{@resource.lastname}"%>!</h1>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

Please do not hesitate to contact us with any questions.
<br>
Kind Regards,
<br>
The Team of <%= PropertsHelper::COMPANY %>.
<div>
  <span>
    <%=image_tag(image_path("method-draw-image.png"), size: "200x100",alt: "")%>
  </span>
</div>